<ons-page style="background-color: white">

    <ul class="topcoat-list">

        <ons-list-item
            class="topcoat-list__item--tappable topcoat-list__item__line-height" 
            ng-click="ons.slidingMenu.toggleMenu();
                            ons.slidingMenu.setAbovePage('navigator1.html')">
            <i class="fa fa-dot-circle-o fa-lg" style="color: #666"></i>
            &nbsp; Enregistrements
        </ons-list-item>

        <ons-list-item 
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
                            ons.slidingMenu.setAbovePage('page2.html')">
            <i class="fa" style="color: #666"></i>
            &nbsp; Statistiques
        </ons-list-item>
        
        <ons-list-item 
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
                            ons.slidingMenu.setAbovePage('navigator4.html')">
            <i class="fa fa-lg" style="color: #666"></i>
            &nbsp; Routes
        </ons-list-item>

        <ons-list-item 
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
                            ons.slidingMenu.setAbovePage('navigator1.html')">
            <i class="fa fa-lg" style="color: #666"></i>
            &nbsp; Carte
        </ons-list-item>
        
        <ons-list-item 
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
                            ons.slidingMenu.setAbovePage('navigator2.html')">
            <i class="fa fa-file" style="color: #666"></i>
            &nbsp; Sorties
        </ons-list-item>
        
        <ons-list-item 
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
                            ons.slidingMenu.setAbovePage('navigator3.html')">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; Paramètres
        </ons-list-item>

    </ul>

</ons-page>